{{!-- Not complete html doc - just part of webpage --}}
<header>
  <h1>{{title}}</h1>
  <div id="menu_bar">
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
  </div>
  
</header>


